.push{
    margin-left: 260px;
}
@media screen and (max-width: 890px) {
    .push{
        margin-left: 0px;
    }
}
@media screen and (min-width: 640px) {
    .push{
        margin-left: 170px;
    }
}
@media screen and (max-width: 639px) {
    .push{
        margin-left: 0px;
    }
}

#Meal2{
    font-size: 17px;
    display: none;
}
#Meal1{
    display: none;
}
#Dairy2{
    font-size: 17px;
    display: none;
}
#Dairy1{
    display: none;
}
#Fats2{
    font-size: 17px;
    display: none;
}
#Fats1{
    display: none;
}
#Seasoning2{
    font-size: 17px;
    display: none;
}
#Seasoning1{
    display: none;
}
#Protein2{
    font-size: 17px;
    display: none; 
}
#Protein1{
    display: none;
}
#Tea1{
    display: none;
}
#Coffee1{
    display: none;
}
#Juice1{
    display: none;
}
#Oils1{
    display: none;
}
#Milk1{
    display: none;
}
#Sodas1{
    display: none;
}
#Alcahol1{
    display: none;
}
#Liquids2{
    font-size: 17px;
    display: none;
}
#Water1{
    display: none;
}
#Stems1{
    display: none;
}
#Tubers1{
    display: none;
}
#Roots1{
    display: none;
}
#Seeds1{
    display: none;
}
#Fungi1{
    display: none
}
#Leaves1{
    display: none;
}
#Fruit1{
    display: none;
}
#Flower1{
    display: none;
}
#Bulbs1{
    display: none;
}
#vegetableRow{
    font-size: 17px;
    display: none;
}
#Breads1{
    display: none;
}
#Breads2{
    font-size: 17px;
    display: none;
}
#fruitsRow{
    font-size: 17px;
    display: none;
}
#Condiments2{
    font-size: 17px;
    display: none;
}
#Condiments1{
    display: none;
}
#categories{
    font-size: 17px;
    display: none;
}
#fruitDiv{
    display: none;
}
#Berries1{
    display: none;
}
#Pits1{
    display: none;
}
#Core1{
    display: none;
}
#Melons1{
    display: none;
}
#Citrus1{
    display: none;
}
#Tropical1{
    display: none;
}
#vegtableDiv{
    display: none;
}
#morevegtable{
    display: none;
}
#liquidDiv{
    display: none;
}
#otherDiv{
    display: none;
}
#searchText{
    font-size: 24px;
}
#titleText{
    margin-left: 10px;
}